<div id="add-access-key-modal" rnd-modal="" class="modal fade">
   <div class="modal-dialog">
      <form class="form-horizontal" role="form">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">
                 <span aria-hidden="true">×</span>
                 <span class="sr-only">Close</span>
               </button>
               <h3 class="modal-title">Add Access Key</h3>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="access-key-name" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                     <input id="access-key-name" class="form-control" placeholder="Example: Members portal" required="" autofocus="">
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" data-dismiss="modal">
               Add
               </button>
            </div>
         </div>
      </form>
   </div>
</div>
<h4 class="rnd-title">Teammates</h4>
<div class="pull-right">
   <button type="button" class="btn btn-primary" ui-sref="app.organization.settings.admin.addTeammate">Add Teammate</button>
</div>
<div class="rnd-container">
   <table class="table">
      <thead>
         <tr>
            <th>Name</th>
            <th>Role</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="user in users | filter: 'ADM'">
            <td hover-action="" action="" icon="pencil">
               <div class="image-table">
                  <div class="profile-sm image-cell user-avatar">
                    <img>
                  </div>
                  <div class="info-cell">
                    <a class="dark-link" member="contact" href="">
                      {{user.userName}}
                    </a>
                     <p class="member-email">
                       {{user.email}}
                     </p>
                  </div>
               </div>
            </td>
            <td>
               {{user.type}}
               <div class="dropdown room-menu">
                  <button class="btn-icon dropdown-toggle" type="button" id="editMenu" data-toggle="dropdown">
                  <i class="fa fa-cog"></i>
                  </button>
                  <ul class="dropdown-menu" data-placement="bottom" role="menu" aria-labelledby="editMenu">
                     <li role="presentation">
                       <a role="menuitem" tabindex="-1">
                         <span class="fa fa-pencil"></span> Edit
                       </a>
                     </li>
                     <li role="presentation">
                       <a role="menuitem" tabindex="-1">
                         <span class="fa fa-times"></span> Delete
                       </a>
                     </li>
                  </ul>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
