<h4 class="rnd-title">Templates</h4>
<div class="rnd-container">
   <table class="table">
      <thead>
         <tr>
            <th>Name</th>
            <th>Description</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a class="dark-link" ui-sref="organization.manage.settings.editTemplate({ templateType: template.type })" href="/geekout/settings/templates/admin_member_booking_created">
                  <div class="inline profile-xs user-avatar">
                     <i class="fa fa-envelope-o"></i>
                  </div>
                  <span class="offset5 ng-binding">Admin - Member Booking Created</span>
               </a>
            </td>
            <td>Sent to admins when a member books a meeting room</td>
         </tr>
      </tbody>
   </table>
</div>
