
<div class="row">
  <div id="download-invoices-modal" role="dialog" class="modal fade ng-isolate-scope">
    <div class="modal-dialog modal-sm">
      <form class="form-horizontal ng-pristine ng-valid">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title">Export Selected Invoices</h3>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="col-sm-12">
                <div>
                  <span ng-if="!url"><i class="fa fa-spinner fa-spin"></i> Generating...</span><!-- end ngIf: !url -->
                </div>
                <small>You can find more information about exporting data in OfficeR&amp;D <a href="https://officernd.com/help/exporting-data/" target="_blank">here</a>.</small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" ui-sref="app.organization.billing.invoices.addInvoice">Add invoice</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a ng-click="addInvoice()">Add invoice</a></li>
      <li><a href="">Add many invoices</a></li>
    </ul>
  </div>
  <div class="pull-right">
  </div>
  <div class="rnd-container">
    <div class="">
      <div>
        <div class="col-sm-3 search-section">
          <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
        </div>
        <div class="col-sm-3 date-section search-section ng-isolate-scope" model="search.issueMonth">
          <span class="k-widget k-datepicker k-header form-control"><span class="k-picker-wrap k-state-default">
            <input id="invoice-start-date" class="form-control k-input" kendo-date-picker="" k-ng-model="model" k-depth="'year'" k-start="'year'" k-format="'MMM yyyy'" k-rebind="model" k-parse-formats="['MMM yyyy', 'yyyy-MM-ddTHH:mm:ss']" data-role="datepicker" type="text" role="combobox" aria-expanded="false" aria-owns="invoice-start-date_dateview" aria-disabled="false" aria-readonly="false" style="width: 100%;">
            <span unselectable="on" class="k-select" role="button" aria-controls="invoice-start-date_dateview">
          </span></span></span>
          <a ng-show="model" ng-click="model = undefined" class="fa fa-times-circle"></a>
        </div>
        <div class="col-sm-3 rnd-filter-tabs-panel">
          <label>Status</label>
          <a ng-click="search.statuses = undefined" ng-class="{ active: !search.statuses }" class="active"><span class="filter-label">All</span></a>
          <a ng-click="search.statuses = ['pending', 'awaiting_payment', 'partially_paid', 'failed', 'overdue']" ng-class="{ active: search.statuses.length === 5 }"><span class="filter-label">Not paid</span></a>
          <a ng-click="search.statuses = ['paid']" ng-class="{ active: search.statuses.length === 1 &amp;&amp; search.statuses.indexOf('paid') >= 0 }"><span class="filter-label">Paid</span></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <table class="table payments-table ng-scope ng-isolate-scope">
        <thead>
          <tr>
            <th>
              <input type="checkbox" ng-model="$parent.isSelected" class="ng-pristine ng-untouched ng-valid">
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="number">
                <span>Invoice #</span><i ng-if="isSortedBy()" class="fa ng-scope fa-sort-asc" ng-class="{ 'fa-sort-asc': !sort.sortDirection, 'fa-sort-desc': sort.sortDirection }"></i><!-- end ngIf: isSortedBy() -->
              </span>
            </th>
            <th>
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="to">
                <span>To</span>
              </span>
            </th>
            <th>
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="status">
                <span>Status</span>
              </span>
            </th>
            <th>
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="date">
                <span>Issue Date</span>
              </span>
            </th>
            <th>
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="date">
                <span>Due Date</span>
              </span>
            </th>
            <th>
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="periodStart">
                <span>Period</span>
              </span>
            </th>
            <th>
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="amount">
                <span>Amount</span>
              </span>
            </th>
            <th>
              <span class="sortable-header ng-isolate-scope" ng-click="toggleSortBy()" property="isSent">
                <span>Sent</span>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="invoice in invoices">
            <td>
              <input class="align-top" type="checkbox">
              <div class="image-table middle">
                <div class="info-cell">
                  <a class="dark-link ng-binding" ui-sref="app.organization.billing.invoices.viewInvoice" href="">
                    {{invoice.invoiceNo}}
                  </a>
                </div>
              </div>
            </td>
            <td>
              <span target="p">
                <a class="dark-link" member="member" href=""></a>
                <a class="dark-link" href="">{{invoice.to}}</a>
              </span>
            </td>
            <td class="payment-status">
              {{invoice.status}}
            </td>
            <td>{{invoice.issueDate}}</td>
            <td>{{invoice.paidDate}}</td>
            <td>May 7, 2016 - Jun 6, 2016</td>
            <td>{{invoice.total}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
