<button class="btn btn-primary" ui-sref="app.organization.billing.plans.addPlan">Add plan</button>
<div class="rnd-container">
  <table class="table">
    <thead>
      <tr>
        <th>Plan</th>
        <th>Active</th>
        <th>Type</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr class="grid-row" ng-repeat="plan in plans">
        <td>
          <a class="dark-link">
            <span>
              <div class="color-box" color="planColor" style="background-color: rgb(245, 136, 112);"></div>
              <a href="#" ui-sref="app.organization.billing.plans.addPlan">
                {{plan.plan}}
              </a>
            </span>
          </a>
          <div class="dropdown room-menu">
            <button class="btn-icon dropdown-toggle" type="button" id="editMenu" data-toggle="dropdown">
            <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu" data-placement="bottom" role="menu" aria-labelledby="editMenu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1"> <span class="fa fa-pencil"></span> Edit</a>
              </li>
              <li class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1"><span class="fa fa-trash-o"></span> Delete</a></li>
            </ul>
          </div>
        </td>
        <td>
          {{plan.active}}
        </td>
        <td><i class="fa fa-laptop"></i> {{plan.type}}</td>
        <td>
          <span>Coffee: </span>
          {{plan.amenities.coffee}}
        </td>
        <td><i class="fa fa-sign-in" title="Public"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
