<div>
  <h4 class="rnd-title" title="Revenue">Revenue</h4>
  <div class="rnd-container">
    <table class="table filterable">
      <thead>
        <tr>
          <th>
            <div class="col-sm-3 search-section">
              <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          <tr>
            <td><strong>Total</strong></td>
            <td>
              <strong>₹16.44</strong>
            </td>
          </tr>
          <tr>
            <td>
              <a class="dark-link ng-binding ng-scope" ui-sref="organization.manage.team({ team: x.team._id })" href="/geekout/community/teams/571a5c570d5ad7c46ec5fbf6">
              Bit Brothers
            </td>
            <td>
              ₹16.44
            </td>
          </tr>
          <tr>
            <td>
              <span class="dark-link ng-scope"><b>Individuals</b></span>
            </td>
            <td>
              ₹0.00
            </td>
          </tr>
        </tbody>
      </tbody>
    </table>
  </div>
</div>
