<div>
  <div>
    <h4 class="rnd-title" title="Furniture">Desks</h4>
  </div>
  <div class="rnd-container">
    <div class="col-sm-6 search-section">
      <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
    </div>
    <div class="rnd-filter-tabs-panel">
      <a class="active">
      All (0)</a>
      <a>
      Hot desks (0)</a>
      <a>
      Workstations (0)</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
          <th>Target Plan</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
