<div>
  <div>
    <h4 class="rnd-title" title="Meeting Rooms">Meeting Rooms</h4>
  </div>
  <div class="rnd-container">
    <div class="col-sm-6 search-section">
      <label for="search-input"><i class="fa fa-search"></i></label>
      <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Plan</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
