<div class="ng-scope">
  <h4 class="rnd-title">Occupancy</h4>
  <div class="rnd-container">
    <!-- ngIf: occupancyHistory -->
    <div class="offset-top ng-scope">
      <div kendo-chart="" k-options="occupancyHistoryOptions" k-data-source="occupancyHistory" data-role="chart" class="k-chart" style="position: relative; height: 250px;">
        <svg style="width: 100%; height: 100%; overflow: hidden;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
          <defs>
            <clipPath id="kdef6">
              <path d="M5 5 L 848 5 848 245 5 245Z" stroke="#000" stroke-linejoin="miter" fill="none"></path>
            </clipPath>
          </defs>
          <g>
            <path d="M0 0 L 853 0 853 250 0 250Z" stroke="none" fill="none"></path>
            <path d="M48 12 L 814.5 12 814.5 222 48 222Z" stroke="none" fill="#fff" fill-opacity="0"></path>
            <g>
              <g></g>
              <g>
                <path d="M48.5 180.5 L 815.5 180.5" stroke="#dfdfdf" stroke-width="1" fill="none"></path>
                <path d="M48.5 138.5 L 815.5 138.5" stroke="#dfdfdf" stroke-width="1" fill="none"></path>
                <path d="M48.5 96.5 L 815.5 96.5" stroke="#dfdfdf" stroke-width="1" fill="none"></path>
                <path d="M48.5 54.5 L 815.5 54.5" stroke="#dfdfdf" stroke-width="1" fill="none"></path>
                <path d="M48.5 12.5 L 815.5 12.5" stroke="#dfdfdf" stroke-width="1" fill="none"></path>
              </g>
              <g>
                <g>
                  <g>
                    <path d="M48.5 222.5 L 815.5 222.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                    <path d="M48.5 222.5 L 48.5 226.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                    <path d="M240.5 222.5 L 240.5 226.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                    <path d="M431.5 222.5 L 431.5 226.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                    <path d="M623.5 222.5 L 623.5 226.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                    <path d="M815.5 222.5 L 815.5 226.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                  </g>
                </g>
              </g>
              <g>
                <g clip-path="url(https://app.officernd.com/geekout/space/furniture#kdef6)">
                  <g>
                    <path d="M48 222 C 111.811 222 175.814 222 239.625 222 303.436 222 367.439 222 431.25 222 495.061 222 559.064 222 622.875 222 686.686 222 750.689 222 814.5 222 L 814.5 222 48 222" stroke="none" fill="#9898b7" fill-opacity="0.8"></path>
                    <path d="M48 222 C 111.811 222 175.814 222 239.625 222 303.436 222 367.439 222 431.25 222 495.061 222 559.064 222 622.875 222 686.686 222 750.689 222 814.5 222" stroke="black" stroke-width="1" stroke-linecap="butt" stroke-opacity="1" fill="none"></path>
                  </g>
                  <g>
                    <path d="M48 222 C 111.811 222 175.814 222 239.625 222 303.436 222 367.439 222 431.25 222 495.061 222 559.064 222 622.875 222 686.686 222 750.689 222 814.5 222 L 814.5 222 814.5 222 C 750.689 222 686.686 222 622.875 222 559.064 222 495.061 222 431.25 222 367.439 222 303.436 222 239.625 222 175.814 222 111.811 222 48 222 L 48 222" stroke="none" fill="#3ebeaf" fill-opacity="0.8"></path>
                  </g>
                  <g opacity="1">
                    <path d="M27 194 L 69 194 69 214 27 214Z" stroke="#000" stroke-width="0" stroke-opacity="0.5" fill="#fff" fill-opacity="0.5"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="31" y="208" stroke="none" fill="#000" fill-opacity="1">0.00 %</text>
                  </g>
                  <g opacity="1">
                    <path d="M218.625 194 L 260.625 194 260.625 214 218.625 214Z" stroke="#000" stroke-width="0" stroke-opacity="0.5" fill="#fff" fill-opacity="0.5"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="222.625" y="208" stroke="none" fill="#000" fill-opacity="1">0.00 %</text>
                  </g>
                  <g opacity="1">
                    <path d="M410.25 194 L 452.25 194 452.25 214 410.25 214Z" stroke="#000" stroke-width="0" stroke-opacity="0.5" fill="#fff" fill-opacity="0.5"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="414.25" y="208" stroke="none" fill="#000" fill-opacity="1">0.00 %</text>
                  </g>
                  <g opacity="1">
                    <path d="M601.875 194 L 643.875 194 643.875 214 601.875 214Z" stroke="#000" stroke-width="0" stroke-opacity="0.5" fill="#fff" fill-opacity="0.5"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="605.875" y="208" stroke="none" fill="#000" fill-opacity="1">0.00 %</text>
                  </g>
                  <g opacity="1">
                    <path d="M793.5 194 L 835.5 194 835.5 214 793.5 214Z" stroke="#000" stroke-width="0" stroke-opacity="0.5" fill="#fff" fill-opacity="0.5"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="797.5" y="208" stroke="none" fill="#000" fill-opacity="1">0.00 %</text>
                  </g>
                </g>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="21" y="242" stroke="none" fill="#232323" fill-opacity="1">April 2016</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="213.125" y="242" stroke="none" fill="#232323" fill-opacity="1">May 2016</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="403.25" y="242" stroke="none" fill="#232323" fill-opacity="1">June 2016</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="597.375" y="242" stroke="none" fill="#232323" fill-opacity="1">July 2016</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="781" y="242" stroke="none" fill="#232323" fill-opacity="1">August 2016</text>
              </g>
              <g>
                <g>
                  <path d="M48.5 12.5 L 48.5 222.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                  <path d="M44.5 222.5 L 48.5 222.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                  <path d="M44.5 180.5 L 48.5 180.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                  <path d="M44.5 138.5 L 48.5 138.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                  <path d="M44.5 96.5 L 48.5 96.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                  <path d="M44.5 54.5 L 48.5 54.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                  <path d="M44.5 12.5 L 48.5 12.5" stroke="#8e8e8e" stroke-width="1" fill="none"></path>
                </g>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="18" y="226" stroke="none" fill="#232323" fill-opacity="1">0 %</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="12" y="184" stroke="none" fill="#232323" fill-opacity="1">20 %</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="12" y="142" stroke="none" fill="#232323" fill-opacity="1">40 %</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="12" y="100" stroke="none" fill="#232323" fill-opacity="1">60 %</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="12" y="58" stroke="none" fill="#232323" fill-opacity="1">80 %</text>
              </g>
              <g>
                <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="16" stroke="none" fill="#232323" fill-opacity="1">100 %</text>
              </g>
            </g>
            <g></g>
          </g>
        </svg>
      </div>
    </div>
    <!-- end ngIf: occupancyHistory -->
  </div>
</div>
<div class="ng-scope">
  <h4 class="rnd-title">Real-time Occupancy</h4>
  <!-- ngIf: statuses -->
  <div class="rnd-container ng-scope">
    <div class="row offset-top">
      <div class="col-sm-5">
        <table class="table">
          <thead>
            <tr>
              <th>Workstation Status</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <!-- ngRepeat: status in statuses | orderBy:'-count' -->
          </tbody>
        </table>
      </div>
      <div class="col-md-7">
        <div kendo-chart="" k-options="workstationChartOptions" k-data-source="statuses" data-role="chart" class="k-chart" style="position: relative; height: 350px;">
          <svg style="width: 100%; height: 100%; overflow: hidden; left: -0.90625px; top: 0px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs></defs>
            <g>
              <path d="M0 0 L 485 0 485 350 0 350Z" stroke="none" fill="none"></path>
              <path d="M5 5 L 480 5 480 345 5 345Z" stroke="none" fill="#fff" fill-opacity="0"></path>
              <g>
                <g></g>
              </g>
              <g>
                <g></g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- end ngIf: statuses -->
</div>
