<section class="container">
  <div class="row">
    <div class="col-sm-3">
      <h6 class="rnd-title text-uppercase">Billing</h6>
        <div class="list-group">
          <a href="#" ui-sref="app.organization.space" class="list-group-item active">Locations</a>
          <a href="#" ui-sref="app.organization.space.meetingRooms" class="list-group-item">Meeting Rooms</a>
          <a href="#" ui-sref="app.organization.space.privateOffices" class="list-group-item">Private Offices</a>
          <a href="#" ui-sref="app.organization.space.desks" class="list-group-item">Desks</a>
          <a href="#" ui-sref="app.organization.space.furniture " class="list-group-item">Furniture</a>
          <a href="#" ui-sref="app.organization.space.occupancy " class="list-group-item">Occupancy</a>
          <a href="#" ui-sref="app.organization.space.analytics " class="list-group-item">Analytics</a>
          <a href="#" ui-sref="app.organization.settings.space " class="list-group-item">Settings</a>
        </div>
    </div>
    <div class="col-sm-9" ui-view="content">
      <div id="add-room-modal" class="modal fade" rnd-modal="" modal-focus="#room-name">
      </div>
      <div id="rename-room-modal" class="modal fade ng-scope">
        <div class="modal-dialog modal-sm">
          <form role="form" class="ng-pristine">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Rename Floorplan</h3>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="room-name-edit">Name</label>
                  <input type="text" class="form-control" id="room-name-edit" required="" autofocus="">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">
                Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="ng-scope">
        <h4 class="rnd-title" title="Locations">Locations</h4>
        <div class="pull-right ng-scope" ng-if="perm>1">
        </div>
      </div>
      <div class="section" header="Add location" help="It looks you don't have any Locations. Start by adding yours.">
        <h3 class="ng-scope">
          <a class="arrow-link">Add location</a>
        </h3>
        <p class="text-muted">It looks you don't have any Locations. Start by adding yours.</p>
      </div>
      <div class="row">
      </div>
    </div>
  </section>
