<section class="container">
  <div class="row">
    <div class="col-sm-3">
      <h6 class="rnd-title text-uppercase">Community</h6>
        <div class="list-group">
          <a href="#" class="list-group-item active">Companies</a>
          <a href="#" class="list-group-item">Members</a>
          <a href="#" class="list-group-item">Leads</a>
          <a href="#" class="list-group-item">Contacts</a>
          <a href="#" class="list-group-item">Memberships</a>
          <a href="#" class="list-group-item">Former Members</a>
          <a href="#" class="list-group-item">Checkins</a>
          <a href="#" class="list-group-item">Settings</a>
        </div>
    </div>
    <div class="col-sm-9" ui-view="content">
    </div>
  </div>
</section>