<div id="benefit-modal" rnd-modal="" modal-focus="#benefit-name" modal-hidden="cleanUpData()" class="ng-scope ng-isolate-scope modal fade" style="display: none;">
  <div class="modal-dialog modal-lg">
    <form class="form-horizontal ng-pristine ng-valid" role="form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title ng-binding">Add Benefit</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="benefit-name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="benefit.name" id="benefit-name" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="benefit-content" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
              <table cellspacing="4" cellpadding="0" class="k-widget k-editor k-header k-editor-widget" role="presentation">
                <tbody>
                  <tr role="presentation">
                    <td class="k-editor-toolbar-wrap" role="presentation">
                      <ul class="k-editor-toolbar ng-scope" role="toolbar" aria-controls="benefit-content" data-role="editortoolbar">
                        <li class="k-tool-group k-button-group" role="presentation"><a href="" role="button" class="k-tool k-group-start" unselectable="on" title="Bold" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-bold"></span><span class="k-tool-text">Bold</span></a><a href="" role="button" class="k-tool" unselectable="on" title="Italic" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-italic"></span><span class="k-tool-text">Italic</span></a><a href="" role="button" class="k-tool" unselectable="on" title="Underline" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-underline"></span><span class="k-tool-text">Underline</span></a><a href="" role="button" class="k-tool k-group-end" unselectable="on" title="Strikethrough" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-strikethrough"></span><span class="k-tool-text">Strikethrough</span></a></li>
                        <li class="k-tool-group k-button-group" role="presentation"><a href="" role="button" class="k-tool k-group-start" unselectable="on" title="Align text left" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-justifyLeft"></span><span class="k-tool-text">Align text left</span></a><a href="" role="button" class="k-tool" unselectable="on" title="Center text" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-justifyCenter"></span><span class="k-tool-text">Center text</span></a><a href="" role="button" class="k-tool" unselectable="on" title="Align text right" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-justifyRight"></span><span class="k-tool-text">Align text right</span></a><a href="" role="button" class="k-tool k-group-end" unselectable="on" title="Justify" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-justifyFull"></span><span class="k-tool-text">Justify</span></a></li>
                        <li class="k-tool-group k-button-group" role="presentation"><a href="" role="button" class="k-tool k-group-start" unselectable="on" title="Insert unordered list" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-insertUnorderedList"></span><span class="k-tool-text">Insert unordered list</span></a><a href="" role="button" class="k-tool" unselectable="on" title="Insert ordered list" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-insertOrderedList"></span><span class="k-tool-text">Insert ordered list</span></a><a href="" role="button" class="k-tool k-group-end" unselectable="on" title="Indent"><span unselectable="on" class="k-tool-icon k-indent"></span><span class="k-tool-text">Indent</span></a><a href="" role="button" class="k-tool k-group-end k-state-disabled" unselectable="on" title="Outdent"><span unselectable="on" class="k-tool-icon k-outdent"></span><span class="k-tool-text">Outdent</span></a></li>
                        <li class="k-tool-group k-button-group" role="presentation"><a href="" role="button" class="k-tool k-group-start k-group-end" unselectable="on" title="Insert hyperlink"><span unselectable="on" class="k-tool-icon k-createLink"></span><span class="k-tool-text">Insert hyperlink</span></a><a href="" role="button" class="k-tool k-group-end k-state-disabled" unselectable="on" title="Remove hyperlink"><span unselectable="on" class="k-tool-icon k-unlink"></span><span class="k-tool-text">Remove hyperlink</span></a></li>
                        <li class="k-tool-group k-button-group" role="presentation"><a href="" role="button" class="k-tool k-group-start" unselectable="on" title="Subscript" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-subscript"></span><span class="k-tool-text">Subscript</span></a><a href="" role="button" class="k-tool k-group-end" unselectable="on" title="Superscript" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-superscript"></span><span class="k-tool-text">Superscript</span></a></li>
                        <li class="k-tool-group k-button-group" role="presentation"><a href="" role="button" class="k-tool k-group-start" unselectable="on" title="View HTML"><span unselectable="on" class="k-tool-icon k-viewHtml"></span><span class="k-tool-text">View HTML</span></a><a href="" role="button" class="k-tool k-group-end" unselectable="on" title="Clean formatting"><span unselectable="on" class="k-tool-icon k-cleanFormatting"></span><span class="k-tool-text">Clean formatting</span></a></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="k-editable-area"><iframe title="Editable area. Press F10 for toolbar." frameborder="0" class="k-content" src='javascript:""'></iframe><textarea kendo-editor="" k-tools="['bold', 'italic', 'underline', 'strikethrough', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'insertUnorderedList', 'insertOrderedList', 'indent', 'outdent', 'createLink', 'unlink', 'subscript', 'superscript', 'viewHtml', 'cleanFormatting']" class="form-control k-content k-raw-content" k-ng-model="benefit.content" rows="10" id="benefit-content" placeholder="Content" data-role="editor" autocomplete="off" style="display: none;">                            </textarea></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label for="benefit-url" class="col-sm-2 control-label">Url</label>
            <div class="col-sm-10">
              <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="benefit.url" id="benefit-url" placeholder="Url">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Image</label>
            <div class="col-sm-10">
              <image-upload image-url="benefit.image" target="" default-icon="fa-gift" class="ng-isolate-scope">
                <div class="image-upload">
                  <div class="user-avatar profile-lg inline image-picker">
                    <!-- ngIf: imageUrl -->
                    <!-- ngIf: !imageUrl -->
                    <div ng-if="!imageUrl" class="image-replace ng-scope">
                      <i class="fa fa-gift" ng-class="defaultIcon"></i>
                    </div>
                    <!-- end ngIf: !imageUrl -->
                    <button type="button" class="btn btn-primary" ng-disabled="uploading" ng-click="chooseImage()">
                      <!-- ngIf: uploading -->
                      <!-- ngIf: !uploading && imageUrl -->
                      <!-- ngIf: !uploading && !imageUrl --><span ng-if="!uploading &amp;&amp; !imageUrl" class="ng-scope">Upload</span><!-- end ngIf: !uploading && !imageUrl -->
                    </button>
                  </div>
                  <input type="file" id="upload-image" class="hidden-upload ng-isolate-scope" file-picked="uploadImg($file)" accept="image/*">
                </div>
              </image-upload>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
          </button>
          <button type="submit" class="btn btn-primary" ng-click="commitBenefit()" ng-disabled="!benefit.name" disabled="disabled">
            <!-- ngIf: originalBenefit -->
            <!-- ngIf: !originalBenefit --><span ng-if="!originalBenefit" class="ng-scope">Add</span><!-- end ngIf: !originalBenefit -->
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="rnd-container-header-panel ng-scope">
  <h4 class="rnd-title" title="Benefits">Benefits</h4>
  <button class="btn btn-primary" ng-click="addBenefit()">Add benefit</button>
  <div class="clearfix"></div>
</div>
<!-- ngIf: benefits.length>0 -->
<!-- ngIf: benefits && benefits.length === 0 -->
<div class="empty-section ng-isolate-scope" ng-if="benefits &amp;&amp; benefits.length === 0" help="It looks you don't have any benefits.">
  <!-- ngIf: header -->
  <p class="text-muted ng-binding">It looks you don't have any benefits.</p>
</div>
<!-- end ngIf: benefits && benefits.length === 0 -->
