<div id="checkin-modal" role="dialog" rnd-modal="" class="modal fade" style="display: none;">
  <form role="form" class="form-horizontal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title">Check in Member</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-xs-3 control-label" for="change-member">Member</label>
            <div class="col-xs-9">
              <span title="" class="k-widget k-dropdown k-header form-control" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="change-member_listbox" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="b9d2ce36-4768-4ce2-9f67-9e3e6ee08c9e" style="">
                <span unselectable="on">
                  <span unselectable="on"></span>
                  <span unselectable="on">
                    <span unselectable="on">select</span>
                  </span>
                </span>
                <select id="change-member" class="form-control" style="display: none;">
                  <option value="5719deb80d5ad7c46ec5fbd6">Sobin George Thomas</option>
                  <option value="571a5c840d5ad7c46ec5fbf7">Sobin Thomas</option>
                  <option value="571a640c0d5ad7c46ec5fbfc">Karthik David</option>
                  <option value="57343f0906a8709b598104f8">Darshan</option>
                </select>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label" for="start-date">Start</label>
            <div class="col-xs-9">
              <span class="k-widget k-datetimepicker k-header form-control">
                <span class="k-picker-wrap k-state-default">
                  <input id="start-date" class="form-control" data-role="datetimepicker" type="text" role="combobox" aria-expanded="false" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                  <span unselectable="on">
                    <span unselectable="on" role="button" aria-controls="start-date_dateview">select</span>
                    <span unselectable="on" class="k-icon k-i-clock" role="button" aria-controls="start-date_timeview">select</span>
                  </span>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label" for="end-date">End</label>
            <div class="col-xs-9">
              <span class="form-control">
                <span class="k-picker-wrap k-state-default">
                  <input id="end-date" class="form-control" data-role="datetimepicker" type="text" role="combobox" aria-expanded="false" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                  <span unselectable="on">
                    <span unselectable="on" role="button" aria-controls="end-date_dateview">select</span>
                    <span unselectable="on" role="button" aria-controls="end-date_timeview">select</span>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">
            Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <button class="btn btn-primary">Check in</button>
  <div class="col-sm-6 search-section">
    <label for="search-input">
      <i class="fa fa-search"></i>
    </label>
    <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
  </div>
</div>
<div class="rnd-container">
  <table class="table grouped-table">
    <thead>
      <tr>
        <th>Member</th>
        <th>Last seen</th>
        <th>For</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5">
          <h6>Online</h6>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="5">
          <h6>Offline</h6>
        </td>
      </tr>
      <tr>
        <td>
          <a class="grouped-first">
          <span class="activity-indicator Offline"></span></a>
          <a class="dark-link offset5" ui-sref="organization.manage.member({ id: mem._id })" href="/geekout/community/members/57343f0906a8709b598104f8">
          <span>Darshan</span>, <em>Geekout</em>
          </a>
        </td>
        <td>
          <em></em>
        </td>
        <td>
          <span></span>
        </td>
        <td>
          <span ></span>
        </td>
        <td>
          <span ></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
