<section class="container">
  <div class="row">
    <div class="col-sm-3">
      <h6 class="rnd-title text-uppercase">Community</h6>
        <div class="list-group">
          <a href="#" ui-sref="app.organization.community" class="list-group-item active">Companies</a>
          <a href="#" ui-sref="app.organization.community.members" class="list-group-item">Members</a>
          <a href="#" ui-sref="app.organization.community.leads" class="list-group-item">Leads</a>
          <a href="#" ui-sref="app.organization.community.contacts" class="list-group-item">Contacts</a>
          <a href="#" ui-sref="app.organization.community.memberships" class="list-group-item">Memberships</a>
          <a href="#" ui-sref="app.organization.community.former" class="list-group-item">Former Members</a>
          <a href="#" ui-sref="app.organization.community.benefits" class="list-group-item">Benefits</a>
          <a href="#" ui-sref="app.organization.community.checkins" class="list-group-item">Checkins</a>
          <a href="#" ui-sref="app.organization.settings.community" class="list-group-item">Settings</a>
        </div>
    </div>
    <div class="col-sm-9" ui-view="content">
      <div class="ng-scope">
        <div class="col-sm-6 search-section">
          <label for="search-input">
            <i class="fa fa-search"></i>
          </label>
          <input id="search-input" type="search" class="form-control inline-search ng-pristine ng-untouched ng-valid" placeholder="Search">
          <!-- ngIf: model -->
        </div>
          <button class="btn btn-primary ng-binding" ng-click="addTeam()">Add company</button>
          <button class="btn btn-primary" ng-click="exportTeams()">Export</button>
        <!-- ngIf: offices.length>1 -->
      </div>
      <!-- ngIf: teams && teams.length > 0 -->
      <div class="rnd-container ng-scope">
        <table class="table ng-isolate-scope" infinite-scroll="limit = limit + 6" infinite-scroll-distance="1" rnd-sortable="teamsSort" sortable-default="name">
          <thead>
            <tr>
              <th>
                <span class="sortable-header ng-isolate-scope">
                  <ng-transclude><span class="ng-scope">Name</span></ng-transclude>
                  <!-- ngIf: isSortedBy() --><i ng-if="isSortedBy()" class="fa ng-scope fa-sort-asc"></i><!-- end ngIf: isSortedBy() -->
                </span>
              </th>
              <th>
                <span class="sortable-header ng-isolate-scope">
                  <ng-transclude><span class="ng-scope">Status</span></ng-transclude>
                  <!-- ngIf: isSortedBy() -->
                </span>
              </th>
              <th>
                <span class="sortable-header ng-isolate-scope" >
                  <ng-transclude><span class="ng-scope">Members</span></ng-transclude>
                  <!-- ngIf: isSortedBy() -->
                </span>
              </th>
              <th>
                <span class="sortable-header ng-isolate-scope">
                  <ng-transclude><span class="ng-scope">Plans</span></ng-transclude>
                  <!-- ngIf: isSortedBy() -->
                </span>
              </th>
              <th title="Monthly Recurring Revenue">
                <span class="sortable-header ng-isolate-scope">
                  <ng-transclude><span class="ng-scope">MRR</span></ng-transclude>
                  <!-- ngIf: isSortedBy() -->
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- ngRepeat: team in teams | teamFilter:search | rndSort: teamsSort | limitTo: limit -->
            <tr ng-repeat="">
              <td hover-action=""icon="pencil" class="ng-isolate-scope">
                <div class="image-table">
                  <div class="profile-sm image-cell user-avatar ng-isolate-scope" item="team" icon="'fa-building-o'">
                    <!-- ngIf: image -->
                    <!-- ngIf: !image -->
                    <div class="image-replace ng-scope">
                      <i class="fa fa-building-o" ng-class="icon"></i>
                    </div>
                    <!-- end ngIf: !image -->
                  </div>
                  <div class="info-cell">
                    <a ui-sref="" class="dark-link ng-binding ng-isolate-scope" team="team" href=""></a>
                    <p class="member-email ng-binding"></p>
                  </div>
                </div>
              </td>
              <td>
                <span class="member-status ng-binding active" ng-class=""></span>
                <!-- ngIf: paymentsEnabled -->
                <p class="member-payment-status ng-scope" ng-if="paymentsEnabled">
                  <!-- ngIf: team.billing.length === 0 --><i ng-if="team.billing.length === 0" class="fa fa-exclamation-triangle ng-scope" title="Missing payment provider"></i><!-- end ngIf: team.billing.length === 0 -->
                  <span class="ng-binding">Overdue</span>
                </p>
                <!-- end ngIf: paymentsEnabled -->
              </td>
              <td class="ng-binding">1</td>
              <td class="ng-binding">
                1
              </td>
              <td class="ng-binding">
                ₹100.00
              </td>
            </tr>
            <!-- end ngRepeat: team in teams | teamFilter:search | rndSort: teamsSort | limitTo: limit -->
          </tbody>
        </table>
      </div>
      <!-- end ngIf: teams && teams.length > 0 -->
      <!-- ngIf: teams && teams.length === 0 -->
      <!-- ngIf: !teams -->
    </div>
  </div>
</section>
