<section ng-app="Community" class="container">
  <div class="row">
    <div class="col-sm-3">
      <h6 class="rnd-title text-uppercase">Community</h6>
        <div class="list-group">
          <a href="#" ui-sref="app.organization.community" class="list-group-item active">Companies</a>
          <a href="#" ui-sref="app.organization.community.members" class="list-group-item">Members</a>
          <a href="#" ui-sref="app.organization.community.leads" class="list-group-item">Leads</a>
          <a href="#" ui-sref="app.organization.community.contacts" class="list-group-item">Contacts</a>
          <a href="#" ui-sref="app.organization.community.memberships" class="list-group-item">Memberships</a>
          <a href="#" ui-sref="app.organization.community.former" class="list-group-item">Former Members</a>
          <a href="#" ui-sref="app.organization.community.benefits" class="list-group-item">Benefits</a>
          <a href="#" ui-sref="app.organization.community.checkins" class="list-group-item">Checkins</a>
          <a href="#" ui-sref="app.organization.settings.community" class="list-group-item">Settings</a>
        </div>
    </div>
    <div class="col-sm-9" ui-view="content">

      <div>
        <div class="col-sm-3 search-section">
          <label for="search-input">
            <i class="fa fa-search"></i>
          </label>
          <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
        </div>
          <button class="btn btn-primary">Add company</button>
          <button class="btn btn-primary">Export</button>
      </div>

      <div class="rnd-container">
        <table class="table">
          <thead>
            <tr>
              <th>
                <span class="sortable-header">
                  <span>Name</span>
                  <i class="fa fa-sort-asc"></i>
                </span>
              </th>
              <th>
                <span class="sortable-header">
                  <span>Status</span>
                </span>
              </th>
              <th>
                <span class="sortable-header" >
                  <span>Members</span>
                </span>
              </th>
              <th>
                <span class="sortable-header">
                  <span>Plans</span>
                </span>
              </th>
              <th title="Monthly Recurring Revenue">
                <span class="sortable-header">
                  <span>MRR</span>
                </span>
              </th>
            </tr>
          </thead>
          <tbody ng-if"users">
            <tr ng-repeat="user in users | filter: 'ORG'">
              <td icon="pencil">
                <div class="image-table">
                  <div class="profile-sm image-cell user-avatar" icon="'fa-building-o'">
                    <div class="image-replace">
                      <i class="glyphicon glyphicon-search"></i>
                    </div>
                  </div>
                  <div class="info-cell">
                    <a ui-sref="organization.manage.team({ team: team._id })" class="dark-link" href="">
                      {{user.userName}}
                    </a>
                    <p class="member-email">{{user.email}}</p>
                  </div>
                </div>
              </td>
              <td>
                <span class="member-status active">{{user.coworkingId.active}}</span>
                <p class="member-payment-status">
                  <i class="fa fa-exclamation-triangle" title="Missing payment provider"></i>
                  <span>Overdue</span>
                </p>
              </td>
              <td>1</td>
              <td>
                1
              </td>
              <td>
                ₹100.00
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
