
<div>
  <div class="col-sm-6 search-section">
    <label for="search-input">
      <i class="fa fa-search"></i>
    </label>
    <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
  </div>
  <button class="btn btn-primary" ui-sref="app.organization.community.members.addMember">Add contact</button>
  <button class="btn btn-primary">Export</button>
</div>

<div class="rnd-container">
  <div class="rnd-filter-tabs-panel">
    <label>Contacts</label>
    <a class="active">
    <span class="filter-label">All</span>
    <strong>6</strong>
    </a>
    <a>
      <span class="filter-label">Companies</span>
      <strong>2</strong>
    </a>
    <a>
      <span class="filter-label">Members</span>
      <strong>4</strong>
    </a>
    <a>
      <span class="filter-label">Leads</span>
      <strong>0</strong>
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <input type="checkbox">
          <span class="sortable-header">
            <span> Name</span>
          </span>
        </th>
        <th>Email</th>
        <th>Phone</th>
        <th>Social</th>
      </tr>
    </thead>
    <tbody ng-if="users">
      <tr ng-repeat="user in users">
        <td>
          <input class="align-top" type="checkbox">
          <div class="image-table">
            <div class="profile-sm image-cell">
              <img>
            </div>
            <div class="info-cell">
              <a class="member-name dark-link" href="#"></a>
              <p class="member-email">
                <a class="dark-link" href="#" ui-sref="app.organization.community.members.profile">
                  {{user.userName}}
                </a>
              </p>
            </div>
          </div>
        </td>
        <td>
          <p>
            {{user.email}}
          </p>
        </td>
        <td>
          {{user.phone}}
        </td>
        <td>
          <div class="social-profiles" profiles="">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
