
<div class="row">
  <div class="col-sm-6 search-section">
    <label for="search-input">
      <i class="fa fa-search"></i>
    </label>
    <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
  </div>
</div>
<div class="rnd-container">
  <div class="rnd-filter-tabs-panel">
    <label>Former</label>
    <a class="active">
    <span class="filter-label">Companies</span>
    </a>
    <a>
    <span class="filter-label">Members</span>
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <span class="sortable-header">
            <span class="ng-binding ng-scope"> Name</span>
          </span>
        </th>
        <th>Email</th>
        <th>Social</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>
