<div class="row">
  <div class="col-sm-6 search-section">
    <label for="search-input">
      <i class="fa fa-search"></i>
    </label>
    <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
  </div>
  <button ui-sref="app.organization.community.leads.addLead" class="btn btn-primary">Add lead</button>
</div>

<div class="container" header="Add lead">
  <h3 align="center">
    <a class="arrow-link">Add lead</a>
  </h3>
  <p align="center" class="text-muted">It looks you don't have any leads.</p>
</div>
