
<div>
   <div class="col-sm-6 search-section">
      <label for="search-input">
        <i class="fa fa-search">
        </i>
      </label>
      <input id="search-input" type="search" class="form-control inline-search" placeholder="Search">
   </div>
   <button class="btn btn-primary">Add member</button>
   <button class="btn btn-primary">Export</button>
</div>

<div class="rnd-container">
   <table class="table">
      <thead>
         <tr>
            <th>
               <span class="sortable-header">
                  <span >Name</span>
                  <i class="fa fa-sort-asc"></i>
               </span>
            </th>
            <th>
               <span class="sortable-header">
                  <span >Company</span>
               </span>
            </th>
            <th>
               <span class="sortable-header">
                  <span>Status</span>
               </span>
            </th>
            <th>Plan</th>
            <th>
               <span class="sortable-header">
                  <span >Period</span>
               </span>
            </th>
            <th>Location</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <div class="image-table" contact="mem">
                  <div class="profile-sm image-cell user-avatar" item="contact">
                     <img>
                  </div>
                  <div class="info-cell">
                     <a class="dark-link">Darshan</a>
                     <p class="member-email">darshansapaliga009@gmail.com</p>
                  </div>
               </div>
            </td>
            <td>
               <a ui-sref="organization.manage.team({ team: mem.team })" class="dark-link">Geekout</a>
            </td>
            <td>
              <span class="member-info-value member-status">Contact</span>
            </td>
            <td>

            </td>
            <td>
              <span class="membership-period">-</span>
            </td>
            <td>
               <span>
                 <span class="empty-location"></span>
               </span>
            </td>
         </tr>
      </tbody>
   </table>
</div>
