<div class="rnd-container">
  <button class="btn btn-primary" disabled="disabled">Delete</button>
  <a class="pull-right btn-icon btn-actions" ui-sref="organization.manage.billing.plans" href="">Manage plans</a>
  <div class="clearfix"></div>
</div>
<div class="rnd-container">
  <div>
    <div class="row">
      <div class="col-sm-4">
        <span title="" class="k-widget k-dropdown k-header form-control" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="target-plan_listbox" aria-disabled="false" aria-readonly="false" aria-busy="false" style="">
          <span unselectable="on" class="k-dropdown-wrap k-state-default">
            <span unselectable="on" class="k-input">
              All Plans
            </span>
            <span unselectable="on" class="k-select">
              <span unselectable="on" class="k-icon k-i-arrow-s">
                select
              </span>
            </span>
          </span>
          <select id="target-plan" class="form-control" data-role="dropdownlist" style="display: none;">
            <option value="" selected="selected">All Plans</option>
            <option value="571a62de0d5ad7c46ec5fbf8">₹100.00, Inception</option>
            <option value="571a634e0d5ad7c46ec5fbfb">₹120.00, The Brady Bunch</option>
            <option value="571a63330d5ad7c46ec5fbfa">₹150.00, The Lone Ranger</option>
            <option value="571a630f0d5ad7c46ec5fbf9">₹300.00, The Fortress of Solitude</option>
          </select>
        </span>
      </div>
      <div class="col-sm-6">
        <div class="rnd-filter-tabs-panel">
          <a class="active">
            <span class="filter-label">Active</span>
          <strong>1</strong></a>
        </div>
      </div>
    <div>
    <table class="table">
      <thead>
        <tr>
          <th>
            <input type="checkbox">
            <span class="sortable-header">
              <span>Plan</span>
            </span>
          </th>
          <th>
            <span class="sortable-header">
              <span>Member</span>
            </span>
          </th>
          <th>
            <span class="sortable-header">
              <span>Status</span>
            </span>
          </th>
          <th>
            <span class="sortable-header">
              <span>Period</span>
            </span>
          </th>
          <th>
            <span class="sortable-header">
              <span>Location</span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
              ₹100.00, Inception
            <div class="dropdown room-menu">
              <button class="btn-icon dropdown-toggle" type="button" id="editMenu" data-toggle="dropdown">
              <i class="fa fa-cog"></i>
              </button>
              <ul class="dropdown-menu" data-placement="bottom" role="menu" aria-labelledby="editMenu">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1">
                  <span class="fa fa-pencil"></span> Edit
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1">
                  <i class="fa fa-user-times"></i> Terminate
                  </a>
                </li>
                <li class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1">
                  <span class="fa fa-trash-o"></span> Delete
                  </a>
                </li>
              </ul>
            </div>
          </td>
          <td>
            <span target="membership">
              <a class="dark-link" href="">Sobin Thomas</a>
              <span>, </span>
              <a class="dark-link"href="">Bit Brothers</a>
            </span>
          </td>
          <td>
            <span class="active">Active</span>
          </td>
          <td>
            <span>Apr 26, 2016 - </span>
          </td>
          <td>
            <span>
              <span class="empty-location">-</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
